/* Global Styles */
* {
  box-sizing: border-box;
 }

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  overflow-x: hidden;
}

div.main{
 flex-grow: 1;
}

/* Navbar styles */
.navbar {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #333;
}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.logo-image {
  width: 80px;
  margin-left: 10px;
}

/* Footer styles */

footer {
  color: white;
  background-color: #444;
  padding: 4px 10px;
  text-align: center;
  font-size: 14px;
}

footer a {
  color: wheat;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* General styles */

main {
  padding: 8px;
}

h1 {
  margin-bottom: 1.25rem;
}

.flex-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Contact Form */

.form-container {
  max-width: 500px;
  margin: 10px auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  color: #555;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  letter-spacing: 1px;
}


.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.form-group input .is-invalid {
 border-color: red !important;
}

.form-group textarea {
    resize: none;
}

.form-group .form-error {
  color: red;
  margin: 4px 0;
  font-size: 14;
}

.form-container button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #0056b3;
}

